@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --style-font: 'Geo', sans-serif;
    --style-font-normal: "Roboto", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.welcome {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    overflow: hidden;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: var(--style-font);
}
.welcome_box{
    width: 1200px;
    height: 300px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 300px;
    animation: increaseWidth 1s linear forwards;
    border: 1px solid red;
}

@keyframes increaseWidth {
    0%{
        height: 0px;
    }
    100%{
        height: 300px;
    }

}

.welcome_box_title{
    font-size: 100px;
    text-align: center;
    color: white;
    visibility: hidden;
    animation: showTitle .5s  1.5s linear forwards;
}
@keyframes showTitle {
    0%{
        visibility: visible;
        font-size: 0px;
    }
    100%{
        font-size: 100px;
        visibility: visible;
    }
}

.welcome_box-hidden{
   display: none;
}

.welcome_background{
    width: 1880px;
    height: 915px;
    position: absolute;
    background-color: transparent;
}
.welcome_background-animation{
    background-color: transparent;
    animation: showAbsoluteLayer 7s linear forwards;
}

@keyframes showAbsoluteLayer {
    0%{
        border-top: 5px solid white;
    }
    10%{
        border-right: 5px solid white;
    }
    20%{
        border-bottom: 5px solid white;
    }
    30%{
        border-left: 5px solid white;
    }
    40%{
        border: 5px solid white;
    }
    50%{
        border: 5px solid white;
        background-color: transparent;
    }
    90%{
        border: 5px solid white;
        border-radius: 0px;
    }
    100%{
        border: 5px solid white;
        border-radius: 5px;
    }
    
}

.welcome_background_white-1{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 6s linear forwards;
    visibility: hidden;
}
@keyframes background1 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}
.welcome_background_white-1_text{
    font-size: 100px;
    text-align: center;
    line-height: 350px;
}
.welcome_background_white-2{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 7s linear forwards;
    visibility: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@keyframes background2 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}

.welcome_background_white-3{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 8s linear forwards;
    visibility: hidden;
    display: flex;flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@keyframes background3 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}
.welcome_background_white_straight{
    display: flex;
    flex-flow: row nowrap;
}
.welcome_background_white_straight_box{
    width: 40px;
    height: 20px;
    margin: 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.welcome_background_white_straight_box:hover{
    cursor: pointer;
}
.welcome_background_white_straight_box_line{
    width: 100%;
    height: 5px;
    background-color:black;
}

.welcome_background_white_straight_box_line-active{
    background-color:#9D2929;
}


.welcome_background_white_straight_box_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_background_white-2_hiddenInfo{
    width: 1150px;
    height: 100%;
    border: 5px solid white;
    background-color: black;
    margin: 0 auto;
    visibility: hidden;
}
.welcome_background_white-2_showInfo{
    width: 10px;
    height: 1%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0 auto;
    visibility: visible;
    animation: showPersonalInfo 1s linear forwards
}
@keyframes showPersonalInfo {
    0%{
        width: 10px;
        height: 1%;
    }
    50%{
        width: 1150px; 
        height: 1%;
    }
    100%{
        width: 1150px; 
        height: 100%;
    }
}

.welcome_background_white_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;
   
}
.welcome_background_white_wrapper-show{
    animation: showText 1s linear forwards
}
@keyframes showText {
    from{
        
        visibility: hidden;
    }
    to{

        visibility: visible;
    }
   
}
.welcome_background_white_wrapper_picture{
    width: 303px;
    height: 250px;
}
.welcome_background_white_wrapper_picture_image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.welcome_background_white_wrapper_texts{
    width: 847px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.welcome_background_white_wrapper_texts_name{
    width: 100%;
    font-size: 70px;
    text-align: center;
}
.welcome_background_white_wrapper_texts_title{
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.welcome_background_white_wrapper_texts_group{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    span{
        margin: 0 25px;
        font-size: 30px;
    }
}

/*when already visited once - welcome page*/
.welcomeStatic{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #4A4949;
    font-family: var(--style-font);
}
.welcomeStatic_background{
    width: 1880px;
    height: 915px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.welcomeStatic_background_iAm{
    width: 100%;
    height: 33.33%;
}
.welcomeStatic_background_info{
    height: 33.33%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.welcomeStatic_background_nav{
    width: 100%;
    height: 33.33%;
}
.welcomeStatic_background_info_image{
    width: 250px;
    height: 250px;
}
.welcomeStatic_background_info_image_profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcomeStatic_background_info_texts{
    max-width: 847px;
    height: 95%;
}
.welcomeStatic_background_info_texts_name{
    font-size: 70px;
    text-align: center;
}
.welcomeStatic_background_info_texts_title{
    font-size: 40px;
    text-align: center;
}
.welcomeStatic_background_info_texts_socialNetworks{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
    }
    span {
        display: block;
        font-size: 30px;
        margin: 0 10px;
    }
}
.welcomeStatic_background_info_texts_group{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    span{
        margin: 0 25px;
        font-size: 30px;
    }
}


/*projects*/
.projects{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #4A4949;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects_background{
    width:1880px;
    height: 915px;
    background-color: white;
    border-radius: 5px;
}
.projects_background_nav{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.projects_background_nav_image{
    display: block;
    width: 1400px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.projects_background_nav_menu{
    width: 1100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.projects_background_nav_menu_item{
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: white;
    border: unset;
    background-color: transparent;
}
.projects_background_nav_menu_item:hover{
    cursor: pointer;
    border-bottom: 2px solid white;;
}
.projects_background_nav_menu_item-active{
    border-bottom: 2px solid white;;
}

.projects_background_wrapper{
    width: 1520px;
    height: 600px;
    margin: 70px auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: var(--style-font-normal);
}
.projects_background_wrapper_image{
    width: 450px;
    height: 100%;
    position: relative;
}
.projects_background_wrapper_image:hover{
    cursor: pointer;
}
.projects_background_wrapper_image_src{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.projects_background_wrapper_image_tip{
    position: absolute;
    top: -30px;
    text-decoration: none;
    color: black;
}
.projects_background_wrapper_image_arrow{
    width: 73px;
    height: 70px;
    object-fit: cover;
    margin-left: 50px;
}
.projects_background_wrapper_text{
    width: 1000px;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
}
.projects_background_wrapper_text_title{
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.projects_background_wrapper_text_sum{
    font-size: 18px;
    margin: 10px 0;
 
}
.projects_background_wrapper_text_groupLead{
    font-size: 20px;
    margin: 10px 0;
    font-weight: bolder;
    margin-top: 30px;
}
.projects_background_wrapper_text_text{
    margin-left: 50px;
    font-size: 18px;
}
.projects_background_bottomNav{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

/*contact*/
.contact{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #4A4949;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--style-font);
}
.contact_wrapper{
    width:1880px;
    height: 915px;
    background-color: white;
    border-radius: 5px;
}
.contact_wrapper_navLeft{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_wrapper_navLeft_image{
    object-fit: contain;
}
.contact_wrapper_body{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.contact_wrapper_body_info{
    width: 100%;
    margin-top: 10px;
}

.contact_wrapper_body_info_title{
    font-size: 50px;
    margin: 50px 0 0 0;
}
.contact_wrapper_body_info_side{
    font-size: 25px;
    margin: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.contact_wrapper_body_info_side-extend{
    font-size: 20px;
    margin: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*about*/
.about{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #4A4949;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--style-font);
}
.about_wrapper{
    width:1880px;
    height: 915px;
    background-color: white;
    border-radius: 5px;
}
.about_wrapper_navLeft{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_wrapper_navLeft_image{
    height: 80px;
    object-fit: cover;
}
.about_wrapper_body{
    width: 70%;
    margin: 0 auto;
}
.about_wrapper_body_title{
    font-size: 50px;
    margin-top: 25px;
}
.about_wrapper_body_text{
    padding: 25px;
    font-size: 25px;
    font-family: var(--style-font-normal    );
}

/*certification*/
.ceritification{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #4A4949;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ceritification_wrapper{
    width:1880px;
    height: 915px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.ceritification_wrapper_navLeft{
    position: absolute;
    width: 80px;
    height: 915px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
}
.ceritification_wrapper_navLeft_image{
    height: 664;
    width: 80px;
    object-fit: cover;
}
.ceritification_wrapper_body{
    width: 70%;
    height: 100%;
}
.ceritification_wrapper_body_title{
    font-size: 50px;
    margin-top: 100px;
}
.ceritification_wrapper_body_nav{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border: 1px solid red;
}
.ceritification_wrapper_body_text{
    padding: 25px;
    font-size: 25px;
}


/*nav global*/
.global{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.global_nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.global_nav_box{
    width: 50px;
    height: 30px;
    margin: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.global_nav_box:hoveR{
    cursor: pointer;
}

.global_nav_box_line{
    width: 100%;
    height: 5px;
    background-color: black;
}
.global_nav_box_line-active{
    background-color :#815717;
}


@media (min-width: 360px) and (max-width: 480px){
    .mobile_projects{
        width: 100%;
        height: 100vh;
        font-family: var(--style-font);
    }
    .mobile_projects-guide{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .mobile_projects_guide{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(105, 102, 102, 0.9);
        z-index: 25;
        color: white;
        font-family: var(--style-font-normal);
    }
    .mobile_projects_guide_point{
        width: 100%;
        height: 25px;
        text-align: center;
        margin-top: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .mobile_projects_guide_point_image{
        width: 100px;
        height: 25px;
        margin-left: 25px;
    }
    .mobile_projects_guide_close{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: rgb(180, 114, 114);
        border: 1px solid white;
        font-size: 25px;
        display: block;
        margin: 100px auto;
        color: white;
        z-index: 26;
    }
 
    .mobile_projects_guide_point-nav{
        width:100%;
        height: 150px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .mobile_projects_guide_point-nav_text{
        width: 100%;
    }
    .mobile_projects_guide_point-nav_image{
        width: 25px;
        height: 100px;
    }

    .mobile_welcome{
        font-family: var(--style-font);
    }
    .mobile_welcome_profile{
        width: 150px;
        height: 150px;
        margin: 25px auto;
    }
    .mobile_welcome_profile_{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .mobile_welcome_info{
        width: 90%;
        margin: 0 auto;
    }
    .mobile_welcome_info_name{
        text-align: center;
        font-size: 45px;
    }
    .mobile_welcome_info_title{
        text-align: center;
        font-size: 22px;
    }
    .mobile_welcome_info_socialNetwork{
        width: 90%;
        margin: 10px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .mobile_welcome_info_socialNetwork_link{
        margin: 0 10px;
        font-size: 25px;
        text-decoration: none;
        color: black;
    }
    .mobile_welcome_info_skills{
        width: 90%;
        margin: 50px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .mobile_welcome_info_skills_name{
        font-size: 22px;
    }
    .mobile_welcome_nav{
        width: 100%;
        margin: 0 auto;
    }

    /*projects*/
    .mobile_projects{
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .mobile_projects_nav_ul{
        width: 70px;
        min-height: 200px;
        top: 25%;
        right: 2px;
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        z-index:15;
    }
    .mobile_projects_nav_ul_item{
        width: 50px;
        height: 25px;
        text-align: right;
        padding-right: 2px;
        color: black;
        font-size: 12px;
        font-weight: bolder;
        background-color: rgb(201, 238, 201);
        border: unset;
        border-left: 2px solid rgb(31, 30, 30);
        box-shadow: 0 0 1px 1px rgb(255, 255, 255);
    }
   
    .mobile_projects_nav_ul_item-active{
        width: 70px;
        height: 25px;
        color: white;
        background-color:  rgb(14, 36, 77);
        border-left: 5px solid rgb(151, 138, 226);
    }
    .mobile_projects_controlNav{
        width: 25px;
        height: 50px;
        background-color: rgb(14, 36, 77);
        border: unset;
        position: absolute;
        right: 0;
        top:0 ;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        z-index: 15;
    }
    .mobile_projects_controlNav:hover{
        cursor: pointer;
    }

    .mobile_projects_wrap{
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index:  11;
    }
    .mobile_projects_wrap_title{
        text-align: center;
        padding-top: 30px;
    }
    
    .projects_background_wrapper{
        width: 100vw;
        height: 70%;
        margin: 70px auto 0;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-family: var(--style-font-normal);
        z-index: 10;
    }
    .projects_background_wrapper_image{
        width: 90vw;
        height: 30%;
        position: relative;
        margin: 0 auto;
        z-index: 5;
    }
    .projects_background_wrapper_image:hover{
        cursor: pointer;
    }
    .projects_background_wrapper_image_src{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        z-index: 5;
        position: relative;
    }
    .projects_background_wrapper_image_tip{
        position: absolute;
        top: -30px;
    }
    .projects_background_wrapper_image_arrow{
        width: 73px;
        height: 70px;
        object-fit: cover;
        margin-left: 50px;
    }
    .projects_background_wrapper_text{
        width: 90vw;
        height: 60%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        /*overwrite the padding on the top*/
        padding: 20px;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .projects_background_wrapper_text_title{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .projects_background_wrapper_text_sum{
        font-size: 18px;
        margin: 10px 0;
    
    }
    .projects_background_wrapper_text_groupLead{
        font-size: 20px;
        margin: 10px 0;
        font-weight: bolder;
        margin-top: 30px;
    }
    .projects_background_wrapper_text_text{
        margin-left: 50px;
        font-size: 18px;
    }



    
    /*about*/
    .about{
        width: 100%;
        height: 100%;
        overflow: scroll;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .about_wrapper{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .about_wrapper_navLeft{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_wrapper_navLeft_image{
        height: 80px;
        object-fit: cover;
    }
    .about_wrapper_body{
        width: 70%;
        margin: 0 auto;
    }
    .about_wrapper_body_title{
        font-size: 25px;
        margin-top: 25px;
    }
    .about_wrapper_body_text{
        padding: 25px;
        font-size: 16px;
    }

    
    /*contact*/
    .contact{
        width: 100vw;
        height: 100%;
        overflow: scroll;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .contact_wrapper{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .contact_wrapper_navLeft{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_wrapper_navLeft_image{
        object-fit: contain;
    }
    .contact_wrapper_body{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .contact_wrapper_body_info{
        width: 100%;
        margin-top: 10px;
    }

    .contact_wrapper_body_info_title{
        font-size: 25px;
        margin: 50px 0 0 0;
    }
    .contact_wrapper_body_info_side{
        font-size: 16px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .contact_wrapper_body_info_side-extend{
        font-size: 16px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    
    
}
@media (min-width: 720px) {
    /*projects*/
    .projects{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects_background{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .projects_background_nav{
        width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    .projects_background_nav_image{
        display: block;
        width: 700px;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        visibility: hidden;
    }
    .projects_background_nav_menu{
        width: 700px;
        height: 60px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .projects_background_nav_menu_item{
        height: 50px;
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        color: black;
        border: unset;
        background-color: transparent;
    }
    .projects_background_nav_menu_item:hover{
        cursor: pointer;
        border-bottom: 2px solid black;;
    }
    .projects_background_nav_menu_item-active{
        border-bottom: 2px solid black;;
    }

    .projects_background_wrapper{
        width: 100vw;
        height: 70%;
        margin: 70px auto 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-family: var(--style-font-normal);
    }
    .projects_background_wrapper_image{
        width: 90vw;
        height: 30%;
        position: relative;
        margin: 0 auto;
    }
    .projects_background_wrapper_image:hover{
        cursor: pointer;
    }
    .projects_background_wrapper_image_src{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .projects_background_wrapper_image_tip{
        position: absolute;
        top: -30px;
    }
    .projects_background_wrapper_image_arrow{
        width: 73px;
        height: 70px;
        object-fit: cover;
        margin-left: 50px;
    }
    .projects_background_wrapper_text{
        width: 90vw;
        height: 60%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        /*overwrite the padding on the top*/
        padding: 20px;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .projects_background_wrapper_text_title{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .projects_background_wrapper_text_sum{
        font-size: 18px;
        margin: 10px 0;
    
    }
    .projects_background_wrapper_text_groupLead{
        font-size: 20px;
        margin: 10px 0;
        font-weight: bolder;
        margin-top: 30px;
    }
    .projects_background_wrapper_text_text{
        margin-left: 50px;
        font-size: 18px;
    }
    
    /*nav global*/
    .global{
        width: 100%;
        height: 20%;
        margin-top: 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .global_nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box{
        width: 50px;
        height: 30px;
        margin: 0 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box:hoveR{
        cursor: pointer;
    }

    .global_nav_box_line{
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .global_nav_box_line-active{
        background-color :#815717;
    }

     
    /*contact*/
    .contact{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .contact_wrapper{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .contact_wrapper_navLeft{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_wrapper_navLeft_image{
        object-fit: contain;
    }
    .contact_wrapper_body{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .contact_wrapper_body_info{
        width: 100%;
        margin-top: 10px;
    }

    .contact_wrapper_body_info_title{
        font-size: 40px;
        margin: 50px 0 0 0;
    }
    .contact_wrapper_body_info_side{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .contact_wrapper_body_info_side-extend{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    
    /*about*/
    .about{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .about_wrapper{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .about_wrapper_navLeft{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_wrapper_navLeft_image{
        height: 80px;
        object-fit: cover;
    }
    .about_wrapper_body{
        width: 70%;
        margin: 0 auto;
    }
    .about_wrapper_body_title{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_wrapper_body_text{
        padding: 25px;
        font-size: 20px;
    }

    
    /*when already visited once - welcome page*/
    .welcomeStatic{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #4A4949;
        font-family: var(--style-font);
    }
    .welcomeStatic_background{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .welcomeStatic_background_iAm{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info{
        height: 300px;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .welcomeStatic_background_nav{
        width: 100%;
        height: 33.33%;

    }
    .welcomeStatic_background_info_image{
        max-width: 250px;
        height: 95%;
    }
    .welcomeStatic_background_info_image_profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .welcomeStatic_background_info_texts{
        max-width: 847px;
        height: 95%;
    }
    .welcomeStatic_background_info_texts_name{
        font-size: 60px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_title{
        font-size: 30px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_socialNetworks{
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
        }
        span {
            display: block;
            font-size: 30px;
            margin: 0 10px;
        }
    }
    .welcomeStatic_background_info_texts_group{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        
        span{
            margin: 0 25px;
            font-size: 30px;
        }
    }



}
@media (min-width: 1280px) and (max-width: 1350px) {

    /*projects*/
    .projects{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects_background{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .projects_background_nav{
        width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    .projects_background_nav_image{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        visibility:visible;
    }
    .projects_background_nav_menu{
        width: 1100px;
        height: 60px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .projects_background_nav_menu_item{
        height: 50px;
        font-size: 16px;
        text-align: center;
        line-height: 50px;
        color: white;
        border: unset;
        background-color: transparent;
    }
    .projects_background_nav_menu_item:hover{
        cursor: pointer;
        border-bottom: 2px solid white;;
    }
    .projects_background_nav_menu_item-active{
        border-bottom: 2px solid white;;
    }

    .projects_background_wrapper{
        width: 100vw;
        height: 550px;
        margin: 70px auto 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-family: var(--style-font-normal);
    }
    .projects_background_wrapper_image{
        width: 90vw;
        height: 150px;
        position: relative;
        margin: 0 auto;
    }
    .projects_background_wrapper_image:hover{
        cursor: pointer;
    }
    .projects_background_wrapper_image_src{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .projects_background_wrapper_image_tip{
        position: absolute;
        top: -30px;
    }
    .projects_background_wrapper_image_arrow{
        width: 73px;
        height: 70px;
        object-fit: cover;
        margin-left: 50px;
    }
    .projects_background_wrapper_text{
        width: 90vw;
        height: 350px;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        /*overwrite the padding on the top*/
        padding: 20px;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .projects_background_wrapper_text_title{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .projects_background_wrapper_text_sum{
        font-size: 18px;
        margin: 10px 0;
    
    }
    .projects_background_wrapper_text_groupLead{
        font-size: 20px;
        margin: 10px 0;
        font-weight: bolder;
        margin-top: 30px;
    }
    .projects_background_wrapper_text_text{
        margin-left: 50px;
        font-size: 18px;
    }

        
    /*nav global*/
    .global{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box{
        width: 50px;
        height: 30px;
        margin: 0 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box:hoveR{
        cursor: pointer;
    }

    .global_nav_box_line{
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .global_nav_box_line-active{
        background-color :#815717;
    }

        
    /*contact*/
    .contact{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .contact_wrapper{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .contact_wrapper_navLeft{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_wrapper_navLeft_image{
        object-fit: contain;
    }
    .contact_wrapper_body{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .contact_wrapper_body_info{
        width: 100%;
        margin-top: 10px;
    }

    .contact_wrapper_body_info_title{
        font-size: 40px;
        margin: 50px 0 0 0;
    }
    .contact_wrapper_body_info_side{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .contact_wrapper_body_info_side-extend{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

        
    /*about*/
    .about{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .about_wrapper{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .about_wrapper_navLeft{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_wrapper_navLeft_image{
        height: 80px;
        object-fit: cover;
    }
    .about_wrapper_body{
        width: 70%;
        margin: 0 auto;
    }
    .about_wrapper_body_title{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_wrapper_body_text{
        padding: 25px;
        font-size: 20px;
    }


    /*when already visited once - welcome page*/
    .welcomeStatic{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #4A4949;
        font-family: var(--style-font);
    }
    .welcomeStatic_background{
        width: 97%;
        height: 95%;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .welcomeStatic_background_iAm{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info{
        height: 33.33%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .welcomeStatic_background_nav{
        width: 100%;
        height: 33.33%;

    }
    .welcomeStatic_background_info_image{
        max-width: 250px;
        height: 95%;
    }
    .welcomeStatic_background_info_image_profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .welcomeStatic_background_info_texts{
        max-width: 847px;
        height: 95%;
    }
    .welcomeStatic_background_info_texts_name{
        font-size: 60px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_title{
        font-size: 30px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_socialNetworks{
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
        }
        span {
            display: block;
            font-size: 30px;
            margin: 0 10px;
        }
    }
    .welcomeStatic_background_info_texts_group{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        
        span{
            margin: 0 25px;
            font-size: 30px;
        }
    }



}
@media (min-width: 1440px) {

    /*projects*/
    .projects{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects_background{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .projects_background_nav{
        width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    .projects_background_nav_image{
        display: block;
        width: 1400px;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        visibility:visible;
    }
    .projects_background_nav_menu{
        width: 1100px;
        height: 60px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .projects_background_nav_menu_item{
        height: 50px;
        font-size: 16px;
        text-align: center;
        line-height: 50px;
        color: white;
        border: unset;
        background-color: transparent;
    }
    .projects_background_nav_menu_item:hover{
        cursor: pointer;
        border-bottom: 2px solid white;;
    }
    .projects_background_nav_menu_item-active{
        border-bottom: 2px solid white;;
    }

    .projects_background_wrapper{
        width: 90vw;
        height: 600px;
        margin: 70px auto 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; 
        font-family: var(--style-font-normal);
    }
    .projects_background_wrapper_image{
        width: 30vw;
        height: 600px;
        position: relative;
        margin: 0 auto;
    }
    .projects_background_wrapper_image:hover{
        cursor: pointer;
    }
    .projects_background_wrapper_image_src{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .projects_background_wrapper_image_tip{
        position: absolute;
        top: -30px;
    }
    .projects_background_wrapper_image_arrow{
        width: 73px;
        height: 70px;
        object-fit: cover;
        margin-left: 50px;
    }
    .projects_background_wrapper_text{
        width: 50vw;
        height: 600px;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        /*overwrite the padding on the top*/
        padding: 20px;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .projects_background_wrapper_text_title{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .projects_background_wrapper_text_sum{
        font-size: 18px;
        margin: 10px 0;
    
    }
    .projects_background_wrapper_text_groupLead{
        font-size: 20px;
        margin: 10px 0;
        font-weight: bolder;
        margin-top: 30px;
    }
    .projects_background_wrapper_text_text{
        margin-left: 50px;
        font-size: 18px;
    }

        
    /*nav global*/
    .global{
        width: 100%;
        height: 100px;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box{
        width: 50px;
        height: 30px;
        margin: 0 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .global_nav_box:hoveR{
        cursor: pointer;
    }

    .global_nav_box_line{
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .global_nav_box_line-active{
        background-color :#815717;
    }

        
    /*contact*/
    .contact{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .contact_wrapper{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .contact_wrapper_navLeft{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_wrapper_navLeft_image{
        object-fit: contain;
    }
    .contact_wrapper_body{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .contact_wrapper_body_info{
        width: 100%;
        margin-top: 10px;
    }

    .contact_wrapper_body_info_title{
        font-size: 40px;
        margin: 50px 0 0 0;
    }
    .contact_wrapper_body_info_side{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .contact_wrapper_body_info_side-extend{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

        
    /*about*/
    .about{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .about_wrapper{
        width: 97%;
        height: 95%;
        background-color: white;
        border-radius: 5px;
    }
    .about_wrapper_navLeft{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_wrapper_navLeft_image{
        height: 80px;
        object-fit: cover;
    }
    .about_wrapper_body{
        width: 70%;
        margin: 0 auto;
    }
    .about_wrapper_body_title{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_wrapper_body_text{
        padding: 25px;
        font-size: 25px;
    }


    /*when already visited once - welcome page*/
    .welcomeStatic{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #4A4949;
        font-family: var(--style-font);
    }
    .welcomeStatic_background{
        width: 97%;
        height: 95%;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .welcomeStatic_background_iAm{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info{
        height: 33.33%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .welcomeStatic_background_nav{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info_image{
        max-width: 250px;
        height: 95%;
    }
    .welcomeStatic_background_info_image_profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .welcomeStatic_background_info_texts{
        max-width: 847px;
        height: 95%;
        display: flex;
        flex-flow: row wrap;
    }
    .welcomeStatic_background_info_texts_name{
        width: 100%;
        font-size: 60px;
        text-align: center;
   
    }
    .welcomeStatic_background_info_texts_title{
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_socialNetworks{
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
        }
        span {
            display: block;
            font-size: 30px;
            margin: 0 10px;
        }
    }
    .welcomeStatic_background_info_texts_group{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        
        span{
            margin: 0 25px;
            font-size: 30px;
        }
    }
   
}
@media (min-width: 1920px){

    /*projects*/
    .projects{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects_background{
        width: 1880px;
        height: 915px;
        background-color: white;
        border-radius: 5px;
    }
    .projects_background_nav{
        width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    .projects_background_nav_image{
        display: block;
        width: 1400px;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        visibility:visible;
    }
    .projects_background_nav_menu{
        width: 1100px;
        height: 60px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .projects_background_nav_menu_item{
        height: 50px;
        font-size: 16px;
        text-align: center;
        line-height: 50px;
        color: white;
        border: unset;
        background-color: transparent;
    }
    .projects_background_nav_menu_item:hover{
        cursor: pointer;
        border-bottom: 2px solid white;;
    }
    .projects_background_nav_menu_item-active{
        border-bottom: 2px solid white;;
    }

    .projects_background_wrapper{
        width: 90vw;
        height: 600px;
        margin: 70px auto 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; 
        font-family: var(--style-font-normal);
    }
    .projects_background_wrapper_image{
        width: 30vw;
        height: 600px;
        position: relative;
        margin: 0 auto;
    }
    .projects_background_wrapper_image:hover{
        cursor: pointer;
    }
    .projects_background_wrapper_image_src{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .projects_background_wrapper_image_tip{
        position: absolute;
        top: -30px;
    }
    .projects_background_wrapper_image_arrow{
        width: 73px;
        height: 70px;
        object-fit: cover;
        margin-left: 50px;
    }
    .projects_background_wrapper_text{
        width: 50vw;
        height: 600px;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        /*overwrite the padding on the top*/
        padding: 20px;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .projects_background_wrapper_text_title{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .projects_background_wrapper_text_sum{
        font-size: 18px;
        margin: 10px 0;
    
    }
    .projects_background_wrapper_text_groupLead{
        font-size: 20px;
        margin: 10px 0;
        font-weight: bolder;
        margin-top: 30px;
    }
    .projects_background_wrapper_text_text{
        margin-left: 50px;
        font-size: 18px;
    }

       
    /*contact*/
    .contact{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .contact_wrapper{
        width: 1880px;
        height: 915px;
        background-color: white;
        border-radius: 5px;
    }
    .contact_wrapper_navLeft{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_wrapper_navLeft_image{
        object-fit: contain;
    }
    .contact_wrapper_body{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    .contact_wrapper_body_info{
        width: 100%;
        margin-top: 10px;
    }

    .contact_wrapper_body_info_title{
        font-size: 40px;
        margin: 50px 0 0 0;
    }
    .contact_wrapper_body_info_side{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .contact_wrapper_body_info_side-extend{
        font-size: 20px;
        margin: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

        
    /*about*/
    .about{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #4A4949;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--style-font);
    }
    .about_wrapper{
        width: 1880px;
        height: 915px;
        background-color: white;
        border-radius: 5px;
    }
    .about_wrapper_navLeft{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about_wrapper_navLeft_image{
        height: 80px;
        object-fit: cover;
    }
    .about_wrapper_body{
        width: 70%;
        margin: 0 auto;
    }
    .about_wrapper_body_title{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_wrapper_body_text{
        padding: 25px;
        font-size: 25px;
    }


    /*when already visited once - welcome page*/
    .welcomeStatic{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #4A4949;
        font-family: var(--style-font);
    }
    .welcomeStatic_background{
        width: 1880px;
        height: 915px;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .welcomeStatic_background_iAm{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info{
        height: 33.33%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .welcomeStatic_background_nav{
        width: 100%;
        height: 33.33%;
    }
    .welcomeStatic_background_info_image{
        max-width: 250px;
        height: 95%;
    }
    .welcomeStatic_background_info_image_profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .welcomeStatic_background_info_texts{
        max-width: 847px;
        height: 95%;
        display: flex;
        flex-flow: row wrap;
    }
    .welcomeStatic_background_info_texts_name{
        width: 100%;
        font-size: 60px;
        text-align: center;
   
    }
    .welcomeStatic_background_info_texts_title{
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .welcomeStatic_background_info_texts_socialNetworks{
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
        }
        span {
            display: block;
            font-size: 30px;
            margin: 0 10px;
        }
    }
    .welcomeStatic_background_info_texts_group{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        
        span{
            margin: 0 25px;
            font-size: 30px;
        }
    }
}