@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

:root{
    --style-font: 'Geo', sans-serif;;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--style-font);
}

.welcome {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    overflow: hidden;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.welcome_box{
    width: 1200px;
    height: 300px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 300px;
    animation: increaseWidth 1s linear forwards;
}

@keyframes increaseWidth {
    0%{
        height: 0px;
    }
    100%{
        height: 300px;
    }

}

.welcome_box_title{
    font-size: 100px;
    text-align: center;
    color: white;
    visibility: hidden;
    animation: showTitle .5s  1.5s linear forwards;
}
@keyframes showTitle {
    0%{
        visibility: visible;
        font-size: 0px;
    }
    100%{
        font-size: 100px;
        visibility: visible;
    }
}

.welcome_box-hidden{
   display: none;
}

.welcome_background{
    width: 1880px;
    height: 915px;
    position: absolute;
    background-color: transparent;
}
.welcome_background-animation{
    background-color: transparent;
    animation: showAbsoluteLayer 7s linear forwards;
}

@keyframes showAbsoluteLayer {
    0%{
        border-top: 5px solid white;
    }
    10%{
        border-right: 5px solid white;
    }
    20%{
        border-bottom: 5px solid white;
    }
    30%{
        border-left: 5px solid white;
    }
    40%{
        border: 5px solid white;
    }
    50%{
        border: 5px solid white;
        background-color: transparent;
    }
    90%{
        border: 5px solid white;
        border-radius: 0px;
    }
    100%{
        border: 5px solid white;
        border-radius: 5px;
    }
    
}

.welcome_background_white-1{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 6s linear forwards;
    visibility: hidden;
}
@keyframes background1 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}
.welcome_background_white-1_text{
    font-size: 100px;
    text-align: center;
    line-height: 350px;
}
.welcome_background_white-2{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 7s linear forwards;
    visibility: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@keyframes background2 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}

.welcome_background_white-3{
    background-color: white;
    width: 100%;
    height: 33.33%;
    animation: background1 1s 8s linear forwards;
    visibility: hidden;
    display: flex;flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@keyframes background3 {
    0%{
        width: 0%;
        visibility: visible;
    }
    100%{
        width: 100%;
        visibility: visible;
    }
}
.welcome_background_white_straight{
    display: flex;
    flex-flow: row nowrap;
}
.welcome_background_white_straight_box{
    width: 40px;
    height: 20px;
    margin: 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.welcome_background_white_straight_box:hover{
    cursor: pointer;
}
.welcome_background_white_straight_box_line{
    width: 100%;
    height: 5px;
    background-color:black;
}

.welcome_background_white_straight_box_line-active{
    background-color:#9D2929;
}


.welcome_background_white_straight_box_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_background_white-2_hiddenInfo{
    width: 1150px;
    height: 100%;
    border: 5px solid white;
    background-color: black;
    margin: 0 auto;
    visibility: hidden;
}
.welcome_background_white-2_showInfo{
    width: 10px;
    height: 1%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0 auto;
    visibility: visible;
    animation: showPersonalInfo 1s linear forwards
}
@keyframes showPersonalInfo {
    0%{
        width: 10px;
        height: 1%;
    }
    50%{
        width: 1150px; 
        height: 1%;
    }
    100%{
        width: 1150px; 
        height: 100%;
    }
}

.welcome_background_white_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;
   
}
.welcome_background_white_wrapper-show{
    animation: showText 1s linear forwards
}
@keyframes showText {
    from{
        
        visibility: hidden;
    }
    to{

        visibility: visible;
    }
   
}
.welcome_background_white_wrapper_picture{
    width: 303px;
    height: 95%;
    background-color: rgb(83, 82, 82);
}
.welcome_background_white_wrapper_picture_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome_background_white_wrapper_texts{
    width: 847px;
    height: 100%;
}
.welcome_background_white_wrapper_texts_name{
    font-size: 100px;
    text-align: center;
}
.welcome_background_white_wrapper_texts_title{
    font-size: 50px;
    text-align: center;
}
.welcome_background_white_wrapper_texts_group{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    span{
        margin: 0 25px;
        font-size: 30px;
    }
}

/*projects*/
.projects{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #4A4949;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects_background{
    width:1880px;
    height: 915px;
    background-color: white;
    border-radius: 5px;
}
.projects_background_nav{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.projects_background_nav_image{
    display: block;
    width: 1400px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.projects_background_nav_menu{
    width: 1100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.projects_background_nav_menu_item{
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: white;
}
.projects_background_nav_menu_item:hover{
    cursor: pointer;
    border-bottom: 2px solid white;;
}
.projects_background_nav_menu_item-active{
    border-bottom: 2px solid white;;
}

.projects_background_wrapper{
    width: 1520px;
    height: 650px;
    margin: 70px auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.projects_background_wrapper_image{
    width: 450px;
    height: 100%;
    position: relative;
}
.projects_background_wrapper_image:hover{
    cursor: pointer;
}
.projects_background_wrapper_image_src{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.projects_background_wrapper_image_tip{
    position: absolute;
    top: -30px;
}
.projects_background_wrapper_image_arrow{
    width: 73px;
    height: 70px;
    object-fit: cover;
    margin-left: 50px;
}
.projects_background_wrapper_text{
    width: 1000px;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
}
.projects_background_wrapper_text_title{
    font-size: 25px;
}
.projects_background_wrapper_text_sum{
    font-size: 18px;
    margin: 10px 0;
}
.projects_background_wrapper_text_groupLead{
    font-size: 20px;
    margin: 10px 0;
}
.projects_background_wrapper_text_text{
    margin-left: 50px;
    font-size: 18px;
}




